# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/*.db

# Flutter
app/.dart_tool/
app/.packages
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/android/.gradle/
app/android/local.properties
app/ios/Pods/
app/ios/.symlinks/
app/.metadata

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
